body { 
  padding-top: 70px;
  height: 100%;
  color: #fff;
  transition: all 1s ease-in-out;
}

/* LOADER */
#loader {
	margin: 15% auto;
	transform: translateY(-50%);
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
  
@media only screen and (max-width: 600px){
	#loader {
		margin: 50% auto;
		transform: translateY(-50%);
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	  }
}

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

section a{
  color: #fff;
  text-decoration: underline;
}

.navbar:not([scrolled]){
  transition: all 0.5s linear;
}

.navbar.scrolled{
  background:#fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}

/* Comment this out to remove blue background*/
.container .row div:nth-child(2){
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(36, 36, 62), rgb(48, 43, 99), rgb(15, 12, 41));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(36, 36, 62,0.8), rgba(48, 43, 99,0.8), rgba(15, 12, 41,0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
  overflow: hidden;

}

h1{
  color: #fff;
	padding: 10px;
	margin: 10px;
}

h2{
  padding-top: 10px;
  margin-top: 10px;
  font-style: italic;
}

/* Go to top button */
#myBtn {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  font-size: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  box-shadow: 2px 4px 25px rgba(255, 255, 255, .1);
  transition: all .2s linear;
}

#myBtn:hover {
  box-shadow: 2px 8px 45px rgba(255, 255, 255, .15);
  transform: translate3d(0, -2px, 0);
}


/* Sections */
.section::before,.subsection::before,.subsubsection::before,.subsubsubsection::before { 
  display: block; 
  content: ""; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}

.section{
  margin-top: 40px;
}

.subsection{
  margin-top: 20px;
}

.subsubsection{
  margin-top: 10px;
}

/* PrismJS settings */
/* For copy and language */
.toolbar,.toolbar > *{
  z-index: 1;
}

pre{
  z-index: 1;
}

pre[class*=language-].line-numbers{
  font-size: 0.8em;
}

:not(pre)>code[class*=language-]{
  font-size: 0.8em;
}

figure {
  margin: 20px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  text-align: center;
}
